
<!DOCTYPE html>
<html>

<head>
  <title>Neural Input</title>
  <link rel="stylesheet" , type="text/css" , href="static/css/main.css">
  <script src="static/js/libs/planck/planck-with-testbed.js"></script>
</head>

<body>
  <img src="static/img/icon.png" class="icon" />
  <div class="scorebox">
    <div class="scorevalue inscore"> 0 </div>
    <div class="scorelabel inscore"> pts </div>
  </div>

</body>

<script src="static/js/libs/jquery.min.js"></script>
<script src="static/js/constants.js"></script>
<script src="static/js/test.js"></script>


</html>